<%- include ("partials/header") %>
  <body>
    <%- include ("partials/navbar") %>
    <div class="container mt-5">
      <div class="card">
        <div class="card-header">
          <h1>Perguntas</h1>
        </div>
        <form class="card-body" method="POST" action="/salvarpergunta">
          <div class="form-group">
            <label>Título:</label>
            <input class="form-control" type="text" name="titulo" required/>
          </div>
          <div class="form-group">
            <label>Descrição:</label>
            <textarea id="" class="form-control" name="descricao" required></textarea>
          </div>
          <div class="form-group">
            <button class="btn btn-primary" type="submit">Enviar</button>
          </div>
        </form>
      </div>
    </div>
    
  </body>
  <%- include ("partials/footer") %>

